.user-management {
  padding: 6rem 1.5rem 1.5rem;
  background-color: #EEF0F8;
  height: 100vh;

  &__user-create {
    width: 28%;
  }

  &__header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1.15rem;
  }

  &__create-button {
    padding: .75rem 1.25rem;
    border-radius: .45rem;
    font-size: 1rem;
    border: none;
    background-color: #2e8ff0;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 .2rem .2rem rgba(46, 143, 240, 0.4);

    &:hover {
      opacity: .8;
    }
  }

  &__content {
    display: flex;
  }

  &__table-wrapper {
    width: 70%;
    margin-right: 1.25rem;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
    background-color: #F4F5F8;
    border-radius: .5rem;
    overflow: hidden;

    &-head {
      background-color: #fff;
      pointer-events: none;
    }

    &-row {
      height: 3.5rem;
      cursor: pointer;

      &:hover {
        background-color: #EFF0F4;
      }
    }

    &-body {
      background-color: #F4F5F8;
    }

    &-header, &-cell {
      padding: 1rem;
      color: #3F4254;
      font-size: .85rem;
      text-align: left;
    }

    &-header {
      color: #A4A4B5;
      font-size: .85rem;
      font-weight: bold;
    }
  }
}
